@import "~assets/styles/variables";

.content-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 10px 15px;
}

.container-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding-top: 140px;
  margin-bottom: 120px;
  background-color: #fff;

  @media screen and (max-width: 768px) {
    padding-top: 90px;
  }
}

.header {
  text-align: center;
  margin-bottom: 50px;

  .title {
    font-size: $extraBigFontSize;
    color: $primaryDarkColor;
  }

  .hr {
    margin: 0 auto;
    margin-top: 17px;
    margin-bottom: 38px;
  }

  .description {
    font-size: $smallFontSize;
    color: $primaryDarkColor;
  }

  @media screen and (max-width: 768px) {
    .title {
      font-size: $bigFontSize;
    }
  }
}

.card-element {
  width: 550px;
  max-width: 100%;
  height: 350px;
  position: relative;

  margin-top: 33px;
  margin-bottom: 33px;

  .img-container-wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
  }

  .img-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    z-index: 55;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(230, 234, 239, 1) 55%,
      rgba(230, 234, 239, 1) 100%
    );
    transition: 300ms opacity;

    img {
      max-width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .card-content {
    position: relative;
    z-index: 50;
    height: 100%;
    text-align: center;
    padding: 66px 80px 33px 80px;
    border: 1px solid #d1c661;

    .title {
      font-size: $bigFontSize;
    }

    .description {
      $bigFontSize: $regularFontSize;
    }
  }

  &:hover {
    .img-container {
      opacity: 0;
    }
  }

  @media screen and (max-width: 1200px) {
    .card-content {
      padding: 66px 30px;
    }
  }

  @media screen and (max-width: 992px) {
    margin: 15px auto;
  }
}
