<div class="container-wrapper">

  <div class="header">
    <h2 class="title">Customers</h2>
    <div class="hr"></div>

    <p class="description">
      In our opinion, a successful business should be based on trust. We always justify the confidence 
      of our customers and business partners. Because We Value our Reputation!</p>
  </div>

  <div class="content-container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/samsung.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container-wrapper">
            <div class="img-container">
              <img src="assets/images/company-brands/samsung.png" alt="">
            </div>
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
                NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
                Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/netcracker.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/netflix.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/irex.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/hineken.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/ursus.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/huawei.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/wirex.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/ciklum.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card-element ">
          <div class="img-container">
            <img src="assets/images/company-brands/global_outsourcing.png" alt="">
          </div>

          <div class="card-content">
            <h3 class="title color-red">Company Name</h3>
            <p class="description">
              NetCracker Technology, a subsidiary of NEC Corporation, is the leading provider of Telecom 
              Operations and Management Systems to Communications Service Providers (CSPs) worldwide.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
