<div class="content-container">

  <div class="content-background">
    <img src="assets/images/presentation_bg.jpg" alt="">
    <div class="background-overlay"></div>
  </div>

  <div class="content">

    <div class="content-header">
      <h4 class="title">YOUR OWN DEVELOPMENT TEAM CENTER IN UKRAINE</h4>
      <div class="hr"></div>

      <h6 class="description">
          Ukraine is the #1 Outsourcing Destination in Europe. Therefore, should you be 
          looking for IT talent, Ukraine is the right location. More than 100+ world famous IT 
          companies (including Boeing, Huawei, Samsung, Oracle, Grammarly, Wargaming, and Netcracker) 
          have already made this choice and successfully employed their professional IT teams in Ukraine. Join Ukraine!
      </h6>
    </div>

    <div class="row description-items">
      <div class="col-lg-6 col-md-6">
        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>
              2018 was a year of incredible growth and success for the Ukrainian software development industry. The country is on its way to becoming the world’s major tech powerhouse. And the industry has  every chance to prosper further. Ukrainian IT landscape  is perfect to make reasonable  decision about hiring a development team in 2019 and beyond.
            </p>
          </div>
        </div>

        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>
              Ukraine boasts the largest and fastest-growing number of IT professionals in Europe. According to Tech Ecosystem Gide of Ukraine, (2019, Western NIS Enterprise Fund) , the figure of software developers  is 184 700. The quarter of this number work for world’s leading companies based in Ukraine, such as: Microsoft, Abby, Samsung, Siemens, Wargaming, Huawei.
            </p>
          </div>
        </div>

        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>
              Ukrainian IT industry is expected to grow by 30%.  The development of the Ukrainian IT industry is far
              ahead of the average growth rate of the sector in the whole world. Now, it is showing a steady growth
              rate of 20-26% annually. In 2019, the IT market is poised to accelerate at the rate of 25-30%. The
              number of IT specialists is going to surpass the <b>200,000</b> people by 2020. The IT workforce is
              expected to become more mature as Ukrainian software engineers will get more skilled year by year.
            </p>
          </div>
        </div>

        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>
                The level of English proficiency in Ukraine is close to some countries where English is an official language, 
                such as India or Hong Kong (EF index 2015)
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>
                At the same time, the country’s human/real estate capital is undervalued as witnessed by GDP per capita 
                figures (due to a weak local currency) and global rankings, putting the Ukrainian cost of labor/property 
                on par with India and the Philippines – yet this might change over the next few years, thus today is the 
                time to invest for big-time cost savings.
            </p>
          </div>
        </div>
    
        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>
              INVESTMENT CLIMATE:  Kyiv and Lviv enter Global top 10 for cost-effectiveness in new  2019 Financial Times investment ranking.
              Ukrainian cities Kyiv and Lviv have made it into the inaugural Smart Locations of the Future ranking produced by Financial Times division fDi Intelligence. Both Ukrainian destinations featured in the global top ten for cost-effectiveness, with the Ukrainian capital city occupying fifth place while Lviv was in eighth position.  
            </p>
          </div>
        </div>
    
        <div class="description-item">
          <div class="logo-container">
            <img src="assets/images/logos/circle-check.svg" alt="">
          </div>
          <div class="description-content">
            <p>Ukraine ranks in the top 20 in terms of attractiveness for foreign direct investment by UNCTAD.The cost-effectiveness category of the ranking assessed 115 investment destinations worldwide on such indicators as rental fees for office and industrial space, corporate and total tax rates, average salaries for skilled workers, and the costs of registering property and establishing a business.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="hr"></div>
  </div>
</div>
