<div class="content">

  <div class="content-background">
    <img src="assets/images/logos/ukraine-map.svg" alt="">
  </div>

  <div class="header">
    <span>Why Ukraine?</span>

    <div class="hr"></div>
  </div>

  <div class="content-container row align-items-center">
    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>100+</span>
        </div>
        <div class="description">
          <span class="title color-red">R&D Centers</span>
          <p>Samsung, Boeing, Ericsson, Oracle, Siemens, etc.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>200,000</span>
        </div>
        <div class="description">
          <span class="title color-red">IT professionals</span>
          <p>Samsung, Boeing, Ericsson, Oracle, Siemens, etc.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>5 billion</span>
        </div>
        <div class="description">
          <span class="title color-red">USD</span>
          <p>With 15-20 % annual growth</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>2-3 hours</span>
        </div>
        <div class="description">
          <span class="title color-red">from Europe to Ukraine</span>
          <p>
            It takes only a few hours to travel from London,
            Berlin or Paris to Ukraine, visa-free both ways.
          </p>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>

</div>