<div class="content">

  <div class="content-background">
    <img src="assets/images/logos/ukraine-map.svg" alt="">
  </div>

  <div class="header">
    <span>Why Ukraine?</span>

    <div class="hr"></div>
  </div>

  <div class="content-container row align-items-center">
    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>110+</span>
        </div>
        <div class="description">
          <span class="title color-red">R&D Centers</span>
          <p>Owned by  multinational corporations </p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>184 700</span>
        </div>
        <div class="description">
          <span class="title color-red">IT software developers</span>
          <p></p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>1000+</span>
        </div>
        <div class="description">
          <span class="title color-red">Events for IT specialists</span>
          <p>Startups and investors every year</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12 d-flex justify-content-center">
      <div class="group-item">
        <div class="head-title color-red">
          <span>160 000</span>
        </div>
        <div class="description">
          <span class="title color-red">Patents and utility models since 2007</span>
          <p></p>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>

</div>
