<div class="container-wrapper">
  
  <div class="header">
    <h2 class="title">Our Team</h2>
    <div class="hr"></div>

    <p class="description">
      Due to their seasoned international experience, our top management makes Ukraine easily accessible for global 
      IT companies planning to open their own R&D centers in Ukraine. You’ll be receiving the best standards and practices in Ukraine!
    </p>
  </div>

  <div class="content-container">
    <div class="row">


      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="custom-card-col spacer-bottom">
        <div class="card-item gray-gradient-bg">
          <div class="side-img-container">
            <img src="assets/images/olga.jpg" alt="">
          </div>
  
          <div class="card-content-wrapper">
            <div class="content">
              <div class="title-container">
                <h4 class="title color-red">Olga Sapelkina</h4>
                <div class="sub-title">
                  <span>
                    It Manager
                  </span>
                </div>
              </div>
      
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
    
              <div><img src="assets/images/logos/linked-in.svg" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
