<div class="container-home-wrapper">

  <div class="header-container">

    <div class="header-el">

      <div class="background-img">

        <div class="background-overlay"></div>

        <img src="assets/images/logos/abstract-architectural.jpg" alt="">
      </div>

      <div class="content">
        <div class="content-wrapper">
          <div>
            <h1 class="title">
                Best <span class="gold-color">Outstaffing</span> in Ukraine!
              <p>We will hire you extra professional software developers and teams.</p>
            </h1>
          </div>
          <div class="description">
            <p>
              We are Ukrainian company  providing outsourcing and outstaffing services to  foreign clients.  find, interview, select the best specialists on your request and orchestrate their work in the best way.
              <br />Get rid of all HR, office and secretary issues!<br />
            </p>
            <h3>We make business easier!</h3>
            <button class="btn-default-red btn" (click)="scrollToElement(contactus)">WORK WITH US</button>
          </div>
        </div>
      </div>

      <div class="content-bottom">
        <div class="cards">

          <div class="cards-items row justify-content-center full-width">

            <div class="card-item" (click)="showServiceDetails('recruitment_process')">

              <div class="arrow-divider">
                <div class="arrow"></div>
              </div>

              <div class="container-continer">
                <img src="assets/images/logos/group.svg" alt="">
                <div class="description">
                  <span class="gold-color">
                    Recruitment Process
                  </span>
                </div>
              </div>
            </div>

            <div class="card-item" (click)="showServiceDetails('real_estate')">

              <div class="arrow-divider">
                <div class="arrow"></div>
              </div>

              <div class="container-continer">
                <img src="assets/images/logos/hous.svg" alt="">
                <div class="description">
                  <span class="gold-color">
                    Perfect Office Spaces
                  </span>
                </div>
              </div>
            </div>

            <div class="card-item" (click)="showServiceDetails('finance')">

              <div class="arrow-divider">
                <div class="arrow"></div>
              </div>

              <div class="container-continer">
                <img src="assets/images/logos/money.svg" alt="">
                <div class="description">
                  <span class="gold-color">
                    Documentation & Financials
                  </span>
                </div>
              </div>
            </div>

            <div class="card-item" (click)="showServiceDetails('legal')">

              <div class="arrow-divider">
                <div class="arrow"></div>
              </div>

              <div class="container-continer">
                <img src="assets/images/logos/diplom.svg" alt="">
                <div class="description">
                  <span class="gold-color">
                    Legal & Compliance
                  </span>
                </div>
              </div>
            </div>

            <div class="card-item" (click)="showServiceDetails('additional')">

              <div class="arrow-divider">
                <div class="arrow"></div>
              </div>

              <div class="container-continer">
                <img src="assets/images/logos/strategy.svg" alt="">
                <div class="description">
                  <span class="gold-color">
                    Additional Services
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="slide-cards full-width">

            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [interval]="3000">

              <mdb-carousel-item>
                <div class="slide-card-item">

                  <div class="container-continer">
                    <img src="assets/images/logos/group.svg" alt="">
                    <div class="description">
                      <span class="gold-color">
                        Recruitment Process
                      </span>
                    </div>
                  </div>
                </div>
              </mdb-carousel-item>

              <mdb-carousel-item>
                <div class="slide-card-item">

                  <div class="container-continer">
                    <img src="assets/images/logos/hous.svg" alt="">
                    <div class="description">
                      <span class="gold-color">
                        Perfect Office Spaces
                      </span>
                    </div>
                  </div>
                </div>
              </mdb-carousel-item>

              <mdb-carousel-item>
                <div class="slide-card-item">

                  <div class="container-continer">
                    <img src="assets/images/logos/money.svg" alt="">
                    <div class="description">
                      <span class="gold-color">
                        Documentation & Financials
                      </span>
                    </div>
                  </div>
                </div>
              </mdb-carousel-item>

              <mdb-carousel-item>
                <div class="slide-card-item">

                  <div class="container-continer">
                    <img src="assets/images/logos/diplom.svg" alt="">
                    <div class="description">
                      <span class="gold-color">
                        Legal & Compliance
                      </span>
                    </div>
                  </div>
                </div>
              </mdb-carousel-item>

              <mdb-carousel-item>
                <div class="slide-card-item">

                  <div class="container-continer">
                    <img src="assets/images/logos/strategy.svg" alt="">
                    <div class="description">
                      <span class="gold-color">
                        Additional Services
                      </span>
                    </div>
                  </div>
                </div>
              </mdb-carousel-item>
            </mdb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-in-ukr>
    <button class="btn-default-red btn-work btn" (click)="scrollToElement(contactus)">
      work with us
    </button>
  </app-in-ukr>
  
  <div>
    <app-presentation>

    </app-presentation>
  </div>

  <!-- <div>
    <app-testimonials></app-testimonials>
  </div> -->

  <div #contactus>
    <app-contact>
    </app-contact>
  </div>
</div>
