<div class="card-container">
  <i class="fas fa-arrow-left back-bttn" (click)="showAllServices()"></i>
  <div class="card-item" *ngIf="service==='real_estate'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/hous.svg" alt="">
      <img class="bg" src="assets/images/house-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Real Estate and IT infrastructure setup</h2>
      </div>

      <div class="description">
        <p>
          While the highly professional IT specialists work on your project,
          the administration team care about our excellent working conditions.
          We rent spacious pleasant environments for the teams, care about their comfort and stress management.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='finance'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/money.svg" alt="">
      <img class="bg" src="assets/images/finace-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Documentation & Financials</h2>
      </div>

      <div class="description">
        <p>
          All the conditions of our cooperation will be determined by the contract. All financial obligations of the sides  are to be included there.
        </p>
        <p>
          If you will need any consultation of the local accountant  or other financial specialist on local taxation and legislation, we will be happy to provide you necessary specialists for one-time or regular consultations.
        </p>
        <p>
          We work  according to Ukrainian  legislation. We do not violate regulations and do not hide taxes. This makes us very reliable and responsible partner for you.
        </p>

      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='recruitment_process'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/group.svg" alt="">
      <img class="bg" src="assets/images/group-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Recruitment Process Outsourcing</h2>
      </div>

      <div class="description">
        <p>
          It is well-known in the world that Ukrainian developers work hard, provide high quality results and respect
          deadlines.

        </p>
        <p>
          The company <b>ITeam Ukraine</b> offers you a solution for accomplishing your project by the best possible IT teams
          and no organizational headache.
        </p>
        <p>
          We offer you:
        </p>
        <ul>
          <li>Best professionals in software development will be hired especially to meet your requirements, just give us the list of specialists and explain the task,</li>
          <li>Thorough, thoughtful and precise coding, high responsibility of every specialist,</li>
          <li>Full-time dedication to your project,</li>
          <li>Transparency on every stage, respect of deadlines,</li>
          <li>Comfortable working spaces for the team and all necessary equipment for providing fast and efficient coding,</li>
          <li>The team will have management and secretary support, which will save your time,</li>
          <li>Consultations of a skillful accountant  and lawyer on your request about local accounting and legal issues,</li>
          <li>We will provide the invisible support to the developers to ensure quality, comfort and strict deadlines! </li>
        </ul>
        <p>
          With us you will sure get outstanding results!
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='legal'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/diplom.svg" alt="">
      <img class="bg" src="assets/images/legal-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Legal & Compliance</h2>
      </div>

      <div class="description">
        <p>
          <b>ITeam Ukraine's</b> main goal – to create efficient IT teams and to meet your requirements. The company’s lawyers are ready to provide our clients consultations on documentation and guarantee that no law of Ukraine is violated.

        </p>
        <p>
          We are ready to defend our client's interests. We are sure to help you in difficult situations.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='additional'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/strategy.svg" alt="">
      <img class="bg" src="assets/images/additional.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Additional Services</h2>
      </div>

      <div class="description">
        <p>
          While you are visiting the capital of Ukraine, we are ready to provide you the following:
        </p>
        <ul>
          <li>City transfers, </li>
          <li>Hotel or flat booking, </li>
          <li>Translator and a personal city guide.</li>
        </ul>
        <p>
          You will enjoy the trip to our ancient city!
        </p>
      </div>
    </div>
  </div>
</div>
