<div class="card-container">
  <i class="fas fa-arrow-left back-bttn" (click)="showAllServices()"></i>
  <div class="card-item" *ngIf="service==='real_estate'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/hous.svg" alt="">
      <img class="bg" src="assets/images/house-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Real Estate and IT infrastructure setup</h2>
      </div>

      <div class="description">
        <p>
          While the highly professional IT specialists work on your project,
          the administration team care about our excellent working conditions.
          We rent spacious pleasant environments for the teams, care about their comfort and stress management.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='finance'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/money.svg" alt="">
      <img class="bg" src="assets/images/finace-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Finance & Accounting</h2>
      </div>

      <div class="description">
        <p>
          While managing the IT team accomplishing your project, ITeam Ukraine will do all the necessary accountancy.
          You do not need to find and hire a reliable experienced accountant; we already have all the best people
          onboard!
        </p>
        <p>
          We work with contemporary accountancy software, and always keep ourselves updated to the current tax
          regulations of Ukraine.
        </p>
        <p>

          Our highly professional accountants will calculate taxes and make this information transparent for you.
        </p>
        <p>

          All the expense that you will have will be displayed in the contract, and we guarantee no additional
          unnecessary spendings.
        </p>
        <p>
          We work strictly according to Ukrainian labor legislation. We do not violate regulations and do not hide
          taxes. This makes us very reliable and responsible partner for you.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='recruitment_process'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/group.svg" alt="">
      <img class="bg" src="assets/images/group-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Recruitment Process Outsourcing</h2>
      </div>

      <div class="description">
        <p>
          It is well-known in the world that Ukrainian developers work hard, provide high quality results and respect
          deadlines.
          The company ITeam Ukraine offers you a solution for accomplishing your project by the best possible IT teams
          and no organizational headache.
        </p>
        <p>
          We offer you:
        </p>
        <ul>
          <li>High quality IT specialists will be hired especially to meet your requirements, Just give us the list of
            specialists and explain the task,</li>
          <li>Best and fastest possible way of accomplishing your project by highly professional Ukrainian developers,
          </li>
          <li>Developers will work on your project full time,</li>
          <li>Transparency on every stage of the project, respect of deadlines,</li>
          <li>Comfortable working spaces for the team,</li>
          <li>Hiring, management and administration processes held by our specialists, which will save your time,</li>
          <li>Consultations and services of your legal and accounting specialists,</li>
          <li>Our total control of the quality and deadlines!</li>
        </ul>
        <p>
          Come to us with your project, receive the best possible results!
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='legal'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/diplom.svg" alt="">
      <img class="bg" src="assets/images/legal-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Legal & Compliance</h2>
      </div>

      <div class="description">
        <p>
          ITeam Ukraine’s main goal – to create efficient IT teams and satisfy the needs of our clients. Our lawyers are
          ready to provide our clients consultations on documentation and guarantee that no law will be violated during
          our cooperation.
        </p>
        <p>
          We are ready to defend our clients’ interests. We will be happy to help you in difficult situations.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item" *ngIf="service==='additional'">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/strategy.svg" alt="">
      <img class="bg" src="assets/images/additional.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Additional Services</h2>
      </div>

      <div class="description">
        <p>
          While you are visiting the capital of Ukraine, we are ready to provide you the following:
        </p>
        <ul>
          <li>City transfers and booking of hotels or flat accommodations.</li>
          <li>Provide you a translator and a personal city guide.</li>
        </ul>
        <p>
          You will enjoy the trip to your ancient city!
        </p>
      </div>
    </div>
  </div>
</div>