<div class="content-container">

  <div class="header">

    <div>
      <h2 class="title">Services</h2>
    </div>
    <div class="hr"></div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('real_estate')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/hous.svg" alt="">
      <img class="bg" src="assets/images/house-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Real Estate and IT infrastructure setup</h2>
      </div>

      <div class="description">
        <p>
          While the highly professional IT specialists work on your project,
          the administration team care about our excellent working conditions.
          We rent spacious pleasant environments for the teams, care about their comfort and stress management.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('finance')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/money.svg" alt="">
      <img class="bg" src="assets/images/finace-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Finance & Accounting</h2>
      </div>

      <div class="description">
        <p>
          While managing the IT team accomplishing your project, ITeam Ukraine will do all the necessary accountancy.
          You do not need to find and hire a reliable experienced accountant; we already have all the best people
          onboard!<span>Read more</span>
        </p>
      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('recruitment_process')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/group.svg" alt="">
      <img class="bg" src="assets/images/group-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Recruitment Process</h2>
      </div>

      <div class="description">
        <p>
          It is well-known in the world that Ukrainian developers work hard, provide high quality results and respect
          deadlines.
          The company ITeam Ukraine offers you a solution for accomplishing your project by the best possible IT teams
          and no organizational headache.<span>Read more</span>
        </p>

      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('legal')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/diplom.svg" alt="">
      <img class="bg" src="assets/images/legal-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Legal & Compliance</h2>
      </div>

      <div class="description">
        <p>
          ITeam Ukraine’s main goal – to create efficient IT teams and satisfy the needs of our clients. Our lawyers are
          ready to provide our clients consultations on documentation and guarantee that no law will be violated during
          our cooperation.
        </p>
        <p>
          We are ready to defend our clients’ interests. We will be happy to help you in difficult situations.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('additional')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/strategy.svg" alt="">
      <img class="bg" src="assets/images/additional.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Additional Services</h2>
      </div>

      <div class="description">
        <p>
          While you are visiting the capital of Ukraine, we are ready to provide you the following:
        </p>
        <ul>
          <li>City transfers and booking of hotels or flat accommodations.</li>
          <li>Provide you a translator and a personal city guide.</li>
        </ul>
        <p>
          You will enjoy the trip to your ancient city!
        </p>
      </div>
    </div>
  </div>
</div>