<div class="content-container">

  <div class="header">

    <div>
      <h2 class="title">Services</h2>
    </div>
    <div class="hr"></div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('real_estate')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/hous.svg" alt="">
      <img class="bg" src="assets/images/house-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Perfect Office Spaces for teams</h2>
      </div>

      <div class="description">
        <p>
          While the highly professional IT specialists work on your project,
          the administration team care about our excellent working conditions.
          We rent spacious pleasant environments for the teams, care about their comfort and stress management.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('finance')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/money.svg" alt="">
      <img class="bg" src="assets/images/finace-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Documentation & Financials</h2>
      </div>

      <div class="description">
        <p>
          All the conditions of our cooperation will be determined by the contract. All financial obligations of the sides  are to be included there. <span>Read more</span>
        </p>
      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('recruitment_process')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/group.svg" alt="">
      <img class="bg" src="assets/images/group-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Recruitment Process</h2>
      </div>

      <div class="description">
        <p>
          It is well-known in the world that Ukrainian developers work hard, provide high quality results and respect
          deadlines.
          The company <b>ITeam Ukraine</b> offers you a solution for accomplishing your project by the best possible IT teams
          and no organizational headache.<span>Read more</span>
        </p>

      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('legal')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/diplom.svg" alt="">
      <img class="bg" src="assets/images/legal-bg.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Legal & Compliance</h2>
      </div>

      <div class="description">
        <p>
          <b>ITeam Ukraine's</b> main goal – to create efficient IT teams and to meet your requirements. The company’s lawyers are ready to provide our clients consultations on documentation and guarantee that no law of Ukraine is violated.
        </p>
        <p>
          We are ready to defend our clients’ interests. We are sure to help you in difficult situations.
        </p>
      </div>
    </div>
  </div>

  <div class="card-item gray-gradient-bg" (click)="showServiceDetails('additional')">

    <div class="side-content">
      <div class="bg-overlay"></div>
      <img class="logo" src="assets/images/logos/strategy.svg" alt="">
      <img class="bg" src="assets/images/additional.jpg" alt="">
    </div>

    <div class="card-content">

      <div class="card-title color-red">
        <h2>Additional Services</h2>
      </div>

      <div class="description">
        <p>
          While you are visiting the capital of Ukraine, we are ready to provide you the following:
        </p>
        <ul>
          <li>City transfers, </li>
          <li>Hotel or flat booking, </li>
          <li>Translator and a personal city guide.</li>
        </ul>
        <p>
          You will enjoy the trip to our ancient city!
        </p>
      </div>
    </div>
  </div>
</div>
